/* ============Header========= */
.header {
   position: absolute;
   width: 100%;
   z-index: 30;
}

.header__row {
   @include flex-row-block();
   @include jc-sb__ai-c();
   max-width: 1420px;
   margin: 0 auto;
   padding: 0px 10px 0px 10px;
   height: 136px;

   @media(max-width:575.98px) {
      height: 60px;
   }
}

.header__logo {

   @media(max-width:991.98px) {
      width: 53px;
      height: 56px;
   }

   @media(max-width:575.98px) {
      width: 33px;
      height: 36px;
   }
}

.header__menu {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 76.4%;
   flex: 0 1 76.4%;

   @media(max-width:1200px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 85%;
      flex: 0 1 85%;
   }

   .menu {}

   .menu__icon {}

   .icon-menu {}


   .menu__list {
      width: 100%;
      @include flex-row-block();
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @media(max-width:991.98px) {
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
         gap: 15px;
      }

      @media(max-width:767.98px) {
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
      }

      @media(max-width:575.98px) {
         -webkit-box-pack: end;
         -ms-flex-pack: end;
         justify-content: end;

      }

      li {
         &:last-child {
            -webkit-box-flex: 0;
            -ms-flex: 0 1 27.1%;
            flex: 0 1 27.1%;

            @media(max-width:991.98px) {
               display: none;
            }
         }
      }
   }

   .menu__link {
      font-family: $font-f-basic;
      font-weight: 400;
      font-size: calc(20px + (14 - 20) * (100vw - 350px) / (1920 - 350));
      line-height: 1.2;
      color: $text-color;

      @media(max-width:575.98px) {
         display: none;
      }

      &:focus,
      &:hover {
         color: $background-hover;
      }
   }

   .menu__link-tel {
      @include flex-row-block();
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-column-gap: 8px;
      -moz-column-gap: 8px;
      column-gap: 8px;
      font-family: $font-f-basic;
      font-weight: 400;
      font-size: calc(14px + (20 - 14) * (100vw - 350px) / (1920 - 350));
      line-height: 1.2;
      color: $text-color;
      @include transition();

      &:focus,
      &:hover {
         color: $background-hover;
      }

      figure {
         width: 28px;
         height: 28px;

         @media(max-width:991.98px) {
            width: 16px;
            height: 16px;
         }
      }
   }

   .menu__btn {
      width: 100%;
      padding: 13px 0px 17px 0px;
      background: #FFFFFF;
      border: 1px solid #121761;
      border-radius: 10px;
      font-family: $font-f-basic;
      font-weight: 400;
      font-size: calc(20px + (14 - 20) * (100vw - 350px) / (1920 - 350));
      line-height: 1.2;
      text-align: center;
      color: #121761;
      @include transition();

      &:focus,
      &:hover {
         color: $background-hover;
         border: 1px solid $background-hover;
      }

      &:focus,
      &:hover {
         color: $white-color;
         border: 1px solid $background-hover;
         background-color: $background-hover;
      }

      @media(max-width:1200px) {
         padding: 8px 0px 12px 0px;
      }
   }
}