.question {
   background: #FAFEFF;
   padding-top: calc(40px + (82 - 40) * (100vw - 350px) / (1920 - 350));
   padding-bottom: calc(40px + (136 - 40) * (100vw - 350px) / (1920 - 350));
}

.question__body {
   @include flex-column-block();
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   max-width: 1060px;
   margin: 0 auto;
   padding: 0px 10px 0px 10px;
}

.quiz-basic__title {
   width: 80.5%;
   margin: 0px 0px 70px 0px;
}

.question__field {
   @include flex-column-block();
   width: 100%;
   //height: 710px;
   padding-top: calc(15px + (22 - 15) * (100vw - 350px) / (1920 - 350));
   padding-bottom: calc(15px + (46 - 15) * (100vw - 350px) / (1920 - 350));
   padding-right: calc(10px + (70 - 10) * (100vw - 350px) / (1920 - 350));
   padding-left: calc(10px + (70 - 10) * (100vw - 350px) / (1920 - 350));
   border: 1px solid #F2F2F2;
   -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
   box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
   border-radius: 20px;
   background: $white-color;

   p,
   .question__num {
      @include basic-text();
      margin-bottom: calc(16px + (33 - 16) * (100vw - 350px) / (1920 - 350));
      color: #BDBDBD;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
   }
}

.question__line {
   height: 1px;
   width: 100%;
   background-color: #f2f2f2;
   margin-bottom: calc(30px + (44 - 30) * (100vw - 350px) / (1920 - 350));
   -webkit-box-ordinal-group: 3;
   -ms-flex-order: 2;
   order: 2;

   @media (max-width:767.98px) {
      display: none;
   }
}

.question__heading {
   @include flex-row-block();
   margin-bottom: calc(20px + (45 - 20) * (100vw - 350px) / (1920 - 350));
   -webkit-box-ordinal-group: 4;
   -ms-flex-order: 3;
   order: 3;

   h3,
   .question__title {
      -ms-flex-item-align: end;
      align-self: flex-end;
      position: relative;

      @media (max-width:575.98px) {
         margin: 0px 0px 0px 0px;
         word-wrap: break-word;
      }
   }

   figure,
   .question__tooltip {
      margin: 0px 0px 10px 10px;
      width: 25px;
      min-height: 25px;
      -ms-flex-item-align: start;
      align-self: flex-start;
      cursor: pointer;

      &:focus,
      &:hover {
         stroke: $background-basic;
         fill: $background-basic;
      }

      p,
      .question__tooltiptext {
         position: absolute;
         z-index: 1;
         bottom: 10%;
         left: 50%;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         margin: 0px 0px 0px 0px;
         width: 337px;
         padding: 44px 36px 44px 36px;
         background-color: $white-color;
         border: 1px solid #E0E0E0;
         -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
         box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
         border-radius: 10px;
         visibility: hidden;
         opacity: 0;
         font-size: 14px;
         line-height: 150%; //21px   
         color: #828282;
         @include transition();

         @media (max-width:991.98px) {
            bottom: -5%;
         }

         @media (max-width:767.98px) {
            bottom: -10%;
         }

         @media (max-width:575.98px) {
            bottom: -20%;
         }
      }

      &:hover .question__tooltiptext {
         visibility: visible;
         opacity: 1;
      }
   }
}

//+++++++++++++++++++form++++++++++++
.question__form {}

.form-answer {
   @include flex-row-block();
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 100%;
   row-gap: 20px;
   -webkit-box-ordinal-group: 5;
   -ms-flex-order: 4;
   order: 4;

   @media (max-width:991.98px) {
      @include flex-column-block();
   }
}

// all labels and inputs in this form
.form-answer__label {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 49%;
   flex: 0 1 49%;
   @include flex-row-block();
   height: 80px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   //padding-top: calc(15px + (20 - 15) * (100vw - 350px) / (1920 - 350));
   // padding-bottom: calc(15px + (20 - 15) * (100vw - 350px) / (1920 - 350));
   padding-left: calc(7px + (20 - 10) * (100vw - 350px) / (1920 - 350));
   padding-right: calc(7px + (20 - 10) * (100vw - 350px) / (1920 - 350));
   border: 1px solid #F2F2F2;
   border-radius: 10px;
   font-size: calc(14px + (18 - 14) * (100vw - 350px) / (1920 - 350));
   line-height: 167%; //30px
   color: #333333;
   cursor: pointer;
   @include transition();

   &:focus,
   &:hover {
      border: 1px solid #A8D0FB;
   }

   @media (max-width:991.98px) {
      width: 100%;
      padding-top: 11px;
      padding-bottom: 12px;
   }

   /*   input[type='radio']:after {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      top: -2px;
      left: -1.5px;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid #121761;
   }

   input[type='radio']:checked:after {
      width: 16px;
      height: 16px;
      border-radius: 14px;
      top: -2px;
      left: -1.5px;
      position: relative;
      background-color: #121761;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid $background-basic;
   } */

   .real-radio {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      z-index: -1;
   }

   .custom-radio {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      position: relative;
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      background: $white-color;
      border: 1px solid #121761;
      border-radius: 50%;
      vertical-align: text-top;

      &::before {
         position: absolute;
         left: 50%;
         top: 50%;
         -webkit-transform: translate(-50%, -50%) scale(0);
         -ms-transform: translate(-50%, -50%) scale(0);
         transform: translate(-50%, -50%) scale(0);
         content: '';
         display: inline-block;
         width: 16px;
         height: 16px;
         border-radius: 50%;
         background-color: #121761;
         //display: none;
         @include transition();
      }
   }

   .real-radio:checked + .custom-radio::before {
      //display: inline-block;
      -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
   }

   .form-answer__tooltip {
      position: relative;
      width: 19px;
      height: 19px;
      cursor: pointer;
      //margin-right: -12px;

      svg {
         position: absolute;
         bottom: 35%;
         right: -12px;
      }

      &:focus,
      &:hover {
         stroke: $background-basic;
         fill: $background-basic;
      }

      p,
      .form-answer__tooltiptext {
         position: absolute;
         z-index: 1;
         bottom: 5%;
         right: 50%;
         @include flex-column-block();
         margin: 0px 0px 0px 0px;
         //width: 337px;
         min-width: 200px;
         padding-top: calc(15px + (44 - 15) * (100vw - 350px) / (1920 - 350));
         padding-bottom: calc(15px + (44 - 15) * (100vw - 350px) / (1920 - 350));
         padding-right: calc(15px + (36 - 15) * (100vw - 350px) / (1920 - 350));
         padding-left: calc(15px + (36 - 15) * (100vw - 350px) / (1920 - 350));
         background-color: $white-color;
         border: 1px solid #E0E0E0;
         -webkit-box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
         box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
         border-radius: 10px;
         visibility: hidden;
         opacity: 0;
         font-size: 0.875rem;
         line-height: 150%; //21px   
         color: #828282;
         @include transition();

         @media (max-width:991.98px) {
            right: -100px;
            bottom: 5%;
         }

         @media (max-width:575.98px) {
            right: -20px;
            bottom: 5%;
         }

         @media (max-width:479.98px) {
            bottom: 5%;
         }
      }

      &:hover .form-answer__tooltiptext {
         visibility: visible;
         opacity: 1;
      }
   }
}

//buttons(links) in this form
.form-answer__buttons {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 100%;
   flex: 0 1 100%;
   @include flex-row-block();
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-column-gap: 37px;
   -moz-column-gap: 37px;
   column-gap: 37px;
   margin-top: auto;

   @media (max-width:767.98px) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 25px;
   }

   .form-answer__back {}

   .back-btn {
      @include flex-row-block();
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-column-gap: 5px;
      -moz-column-gap: 5px;
      column-gap: 5px;
      font-size: calc(12px + (20 - 12) * (100vw - 350px) / (1920 - 350));
      line-height: 120%;
      text-align: center;
      color: #475658;
      @include transition();

      &:focus,
      &:hover {
         color: $background-hover;
      }

      .back-btn__icon {
         margin: 13px 0px 0px 0px;

         @media (max-width:767.98px) {
            margin: 7px 0px 0px 0px;
         }

         @media (max-width:575.98px) {
            margin: 5px 0px 0px 0px;
         }
      }
   }

   .form-answer__btn {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 20.2%;
      flex: 0 1 23.4%;
      padding-top: calc(5px + (19 - 5) * (100vw - 350px) / (1920 - 350));
      padding-bottom: calc(6px + (22 - 6) * (100vw - 350px) / (1920 - 350));
      background: #d44b4b;
      -webkit-box-shadow: 2px 2px 5px #F0F0F0;
      box-shadow: 2px 2px 5px #F0F0F0;
      border-radius: 10px;
      font-weight: 600;
      font-size: calc(14px + (23 - 14) * (100vw - 350px) / (1920 - 350));
      line-height: 31px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      @include transition();

      &:focus,
      &:hover {
         background-color: $background-hover;
      }

      @media (max-width:991.98px) {
         width: 40%;
      }

      @media (max-width:767.98px) {
         width: 44%;
         margin-left: auto;
      }
   }
}

//+++++++++++++++++++end form+++++++++++++++++++

.question__progress {}

.progress-box {
   margin-top: 50px;
   width: 100%;
   height: 2px;
   background-color: #e0e0e0;
   -webkit-box-ordinal-group: 6;
   -ms-flex-order: 5;
   order: 5;

   @media (max-width:767.98px) {
      margin: 0px 0px 30px 0px;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
   }
}

.progress-box__level {
   width: 13.5%;
   height: 2px;
   background-color: $background-basic;
}